.home {
  .banner {
    max-width: 980px;
    width: 100%;
  }

  .content {
    .tab {
      display: flex;
      position: relative;
      .demo-tab-group {
        border: 1px solid #e8e8e8;
        max-width: 100%;
      }

      .demo-tab-content {
        padding: 16px;
      }
    }
    .change {
      position: absolute;
      right: 0;
      top: 8px;
      z-index: 2;
    }
  }
}
